.calculatorGrid {
  width: 335px;
  height: 500px;
  border: solid 2px black;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
}

.textview {
  width: 310px;
  height: 60px;
  margin: 5px;
  font-size: 35px;
  padding: 5px;
  border-radius: 10px;
}

.btn {
  text-align: center;
  width: 75px;
  height: 75px;
  font-size: 35px;
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
}
